{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('article_create') }}">create</a><br>
    {% for article in articles %}
        <span>{{ article.name }} </span>
        <a href="{{ path('article_edit', {'id': article.id}) }}">&#x270e;</a>
        <a href="{{ path('delete_article', {'id': article.id}) }}">&#x2718;</a>
        <br>
    {% endfor %}
{% endblock %}